# Deploy as /etc/fundraising/astropay-audit.yaml or $HOME/.fundraising/astropay-audit.yaml

# Local path where unprocessed files land
#
incoming_path: /var/spool/audit/astropay/incoming

# After processing (or being skipped), audit files are stored here
archive_path: /archive/audit/astropay/archive

# Connection parameters
sftp:
    # [sic]
    host: 127.0.0.1
    username: foo

    # Keep synchronized with all files under this root directory
    remote_root: /reports

    # User's private key (TODO: file vs inline)
    private_key: |-
        -----BEGIN RSA PRIVATE KEY-----
        SHMonsense===
        -----END RSA PRIVATE KEY-----

    host_key: |-
        ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDFLZPtI3hmvCYzkmWlHdl5rUmOxyCY4hh+wqQQlrBrSEYJtba+SZJAd4vAh3dQLD6fcHLr9HnFz5v832z0tfz7zfCcIDz6Vbg2PxFlc6emBpVWUdKHif2WYBdXDkw0wISn1zhj5nKNfYNIXNHLveQY1KRiCUaVOHQ9z43DEUCM2Q3WG0c6aI//YOZUkL9p6PWYdUVhMVjqfN11cVPkvfAxBOZpcrTFQPxekQbYU4spdxJASYPfshA7Th5MvjLcuy/PXyiWTVewfIN2Rwc8oAHynOvApCYW+noTjXqGjITnWQBOUoSf+8vRJOT+DzC9SY0GcWTPwCzzrfplV4qXWZrF
