# Deploy as /etc/fundraising/paypal-audit.yaml, or $HOME/.fundraising/paypal-audit.yaml

# Only download files matching this pattern
valid_file_pattern: "^.+[.]CSV$"

# New reports will be downloaded to this directory.
incoming_path: /var/log/spool/audit/paypal/incoming

# Processed reports are moved here.
archive_path: /archive/audit/paypal/archive

sftp:
    host: reports.paypal.com
    username: Noogie
    password: "^Ful2x"

    remote_root: /ppreports/outgoing

    # The real host key, as of 20140515
    host_key: |-
        ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDHDBjNezkG40FluT09yGTiNH2zzB3PnvfzX0Dj+A1UiV2buDNF0fOlGxu/vMCrnUHnuxjHlJ2ieBRwMl/0NiFd4uL/HtmsyFkT/EbUjZF9Ky2u4TVHHVRuZYnipidCtJ5RABBRwjToeg60C185CJpHGciFTwwGKDrZDZaGbMpKRZB7z0Nt3/Wuk8pO3fvbUGaIC4pAPe2ljyIPp/LuEE4QNlER8Hexs8XHKbo+a22vb0/hrcV38saLFZfm0O62sYkJ8t8bFDN1k/3c+2/0TfMZc6qbWA6sD872zcqaRHM2BtntWn9TuZP36/SclC0k3h1S0M5lQ2Mp5TAKqXtwgCnl

redis:
    server: localhost
    port: 6379
    password: pass
    queues:
        refund: refund
        donations: donations
        recurring: recurring

api:
    # url: "https://api-3t.paypal.com/nvp"
    url: "https://api-3t.sandbox.paypal.com/nvp"
    username: YOURS
    password: YO
    # NOTE: only include one of {signature, certificate_path}
    signature: PROVIDEDBYPAYPAL
    # certificate_path: /file/path

# This is exclusively used for read-only queries, so use a secondary db if possible.
civicrm_db:
    host: localhost
    user: USER
    passwd: PW
    db: civicrmYOURS
    debug: false

# Will short-circuit sending queue messages if set to 1.
no_effect: 0

# Suppress sending thank-you emails if set to 1.
no_thankyou: 0
